<form method="post" action="/new">
	<input type="text" name="name" placeholder="Name" />
	<input type="text" name="year" placeholder="Year" />
	<input type="text" name="grapes" placeholder="Grapes" />
	<input type="text" name="country" placeholder="Country" />
	<input type="text" name="region" placeholder="Region" />
	<input type="text" name="description" placeholder="Description" />
	<input type="text" name="picture" placeholder="Picture URL" />
	<button type="submit">Submit new Wine</button>
</form>