<form method="post" action='/new'>
	<p><input type="text" name="name" placeholder="Wine name" size="40" /></p>
	<p><input type="text" name="year" placeholder="Year" size="40" /></p>
	<p><input type="text" name="grapes" placeholder="Grapes used" size="40" /></p>
	<p><input type="text" name="country" placeholder="Country" size="40" /></p>
	<p><input type="text" name="region" placeholder="Region" size="40" /></p>
	<p><input type="text" name="description" placeholder="Description" size="40" /></p>
	<p><input type="text" name="picture" placeholder="Wine bottle image URL" size="40" /></p>
	<p><input type="text" name="price" placeholder="Price" size="40" /></p>
	<p><button type="submit">Submit New Wine</button></p>
</form>